.header__favorite-count {
  display: inline-block;
  min-width: 40px;
  height: 25px;
  margin: 0 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #4481c3;
  border-radius: 15px;
}
